.navigation{
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    .point{
        width: 13px;
        height: 13px;
        border: 2px solid $black;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 8px 0;
        cursor: pointer;
        transition: .2s;
        &:hover, &.active{
            background: $black;
        }
    }
}