header{
    padding-top: 12px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img.logo{
        width: 50px;
    }
    img.menu{
        width: 30px;
        cursor: pointer;
        display: none;
        z-index: 1000;
        @include mobile{
            display: block;
        }
    }
    nav{
        @include mobile{
            display: none;
        }
    }
    ul{
        display: flex;
        align-items: center;
    }
    li{
        margin-left: 25px;
        color: $grey;
        display: flex;
        align-items: center;
        &.white-paper{
            color: #000;
            border: 2px solid #000;
            line-height: 44px;
            padding: 0 15px;
            border-radius: 20px;
            font-weight: 500;
            user-select: none;
        }
        img{
            width: 14px;
            margin-left: 6px;
        }
    }
    
}