header{
    border: 1px solid rgb(185, 15, 15);
    .container{
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img{
        width: 50px;
    }
    li{
        display: inline-block;
        margin-left: 25px;
        color: $grey;
        &.white-paper{
            color: #000;
            border: 2px solid #000;
            line-height: 40px;
            padding: 0 15px;
        }
    }
    
}